body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Verdana';
    background-color: #0f1624;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Verdana';
    background: linear-gradient(270deg, #0f1624, #021c51);
    background-size: 400% 400%;

    -webkit-animation: bg-animate 1s ease infinite;
    -moz-animation: bg-animate 1s ease infinite;
    animation: bg-animate 10s ease infinite;
}

@-webkit-keyframes bg-animate {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes bg-animate {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes bg-animate {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* Navbar */
.navbar-custom {
    height: 48px;
    background-color: #000 !important;
    color: #fff;
}

.nav-icons {
    transition: all 0.3s ease 0s;
    color: white;
    border-radius: 20px;
    padding: 8px;
}

.nav-icons:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.ul-custom {
    color: #fff;
}

.link-custom {
    color: rgba(255, 255, 255, 0.75) !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;
}

.link-custom:hover {
    color: #fff !important;
}

.show ul {
    align-items: flex-start;
}

/* Body */
body {
    background-color:  #0f1624;
}

.main {
    padding: 32px 48px 0px;
    margin: 50px auto;
    margin-top: 120px !important;
}

.name {
    color: #c1c1c1;
    text-align: center;
    font-family: Verdana;
    font-size: 70px;
}

.desig {
    color: #959595;
    text-align: center;
    font-family: Verdana;
    font-size: 20px;
}

.sep{
    width: 100%;
    height: 6px;
    border-radius: 10px;
    background: linear-gradient(270deg, rgb(19, 173, 199) 0%, rgb(148, 93, 214) 100%);
}

#particle-js {
    height: 100%;
    background-color: black;
}

.about {
    margin-top: 100px;
}

.buttn {
    font-size: 20px;
    width: 180px;
    height: 45px;
    padding: 0px 18px;
    border-radius: 20px;
    text-align: center;
    background: linear-gradient(270deg, rgb(19, 173, 199) 0%, rgb(148, 93, 214) 100%);
    color: #fff;
    border:none;
}

.image {
    height: 200px;
    width: 200px;
}

.heading {
    color: #c1c1c1;
}

/* Project */

.project-link {
    background: #6b3030;
    padding: 10px;
    border-radius: 15px;
    transition: 0.5s;
}

.project-link:hover {
    background: #ac0000;
    padding: 10px;
    border-radius: 15px;
}

/* Profile */
.card {
    background: #0f1624;
}

.profile-link{
    color: #c1c1c1;
}

/* Techonology */
.tech-logo {
    height:60px;
}

.tech-logo1 {
    height:60px;
}

.foot{
    background-color: #000 !important;
}




